/*h1 -> seletor color:blue -> declaração*/
h1 {color:blue;}

/*O css é lido na ordem de cascata*/

/*principais comandos html*/
body{
    background-image: url("gato.sla");
    background-repeat: ;
    background-attachment: fixed;

}
/*<span> <-- para selecionar tags pequenas e modifica-las no css
div <- para modificar blocos*/

p{
   border-style: solid;
    margin: 20px;
    padding: 20px;
    background-color: aqua;
    height: 25px;
    width: 50px;
}
