body{   
}

section{
    display: flex;
}

.quadrados{
    height: 100px;
    width: 100px;
    border-style: solid;
}


#teste2{
    position: absolute;
   right: 8px;
   top: 8px;
}

#teste3{
    position: absolute;
    bottom: 0px;
    left: 8px;
    bottom: 8px;
}

#teste4{
    position: absolute;
    right: 8px;
    bottom: 8px;
}

